*, *:before, *:after {
	box-sizing: border-box;
}


$tomato: #ff623f;
$gold: #ffbc17;
$teal: #2accc3;
$mint: #d8f5e8;

$colors: (
	'tomato' : $tomato,
	'gold' : $gold,
	'teal' : $teal,
	'mint' : $mint
);

@each $color, $hex in $colors
{
	.color-#{$color}
	{
		background-color: $hex;
		.third:first-child {
			background-color: lighten($hex,5%);
		}

	};
	.color-#{$color}
	{
		.third:nth-child(3) {
			background-color: darken($hex,5%);
		}
	}
}



$box-width: 130px;
$box-height: 100px;

.box {
	margin: 15px;
	float: left;
	height: $box-height;
	width: $box-width;
}

.row:after {
      content: "";
      display: table;
      clear: both;
      }

.third {
	width: 33.33%;
	height: 100%;
	float:left;
}
